.footer__link {
  text-decoration: none;
  color: white;
  margin: 0 18px 0 0;
  padding: 0;
}

.footer__link:hover {
  opacity: 0.5;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
}

